<div class="form-wrapper">

  <form class="form" [formGroup]="form" novalidate>
    <div class="erros-wrapper" *ngIf="existeErros()">
      <div class="erros">
        <span *ngFor="let e of erro?.erros">{{ e }}</span>
      </div>
    </div>

    <div class="input-wrapper">
      <label>Nome</label>
      <input type="text" formControlName="nome">
    </div>

    <div class="input-wrapper">
      <label>E-mail</label>
      <input type="email" formControlName="email">
    </div>

    <div class="input-wrapper">
      <label>Senha</label>
      <input type="password" formControlName="senha">
    </div>

    <div class="btn-wrapper">
      <a class="btn azul" (click)="criarConta()">Criar Conta</a>
    </div>

    <div class="btn-wrapper">
      <a class="btn vermelho" routerLink="/entrar">Entrar</a>
    </div>
  </form>
</div>