<div #mensagem (scroll)="onScroll($event.target)" class="card-content clearfix" *ngIf="ultimaConversa">
  <div class="msg-y"></div>  
  <div class="msg-loader" *ngIf="buscandoMensagens">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>  
  <div #mensagemPorData *ngFor="let item of mensagensPorData | keyvalue" class="msg clearfix">
      <div class="center">
        <div class="data">
          <span>{{ item.key.dataDescricao | uppercase }}</span>
        </div>          
      </div>

      <div *ngFor="let mensagem of item.value">
        <div #mensagemNova class="center" *ngIf="mensagem.qtdMensagensNovas > 0">
          <div class="data">
            <span>{{ mensagem.qtdMensagensNovas === 1 
              ? '1 MENSAGEM NÃO LIDA' :  mensagem.qtdMensagensNovas + ' MENSAGENS NÃO LIDAS'}}
            </span>
          </div>          
        </div>
  
        <div class="clearfix">
          <div [ngClass]="ehIgualAoContatoLogado(mensagem) ? 'enviado' : 'recebido'">
            <div class="msg-d1">
              <span>{{ mensagem.mensagemEnviada }}</span>
            </div>
            <div class="msg-d2">
              <span class="msg-data">{{ mensagem.dataEnvio | date: 'HH:mm' }}</span>
              <div class="msg-checked lida" 
                [class.lida]="mensagem.statusMensagem === 3"
                *ngIf="mensagem.contatoRemetenteId === contatoLogado.contatoId">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 15" width="16" height="15"><path fill="currentColor" d="M15.01 3.316l-.478-.372a.365.365 0 0 0-.51.063L8.666 9.879a.32.32 0 0 1-.484.033l-.358-.325a.319.319 0 0 0-.484.032l-.378.483a.418.418 0 0 0 .036.541l1.32 1.266c.143.14.361.125.484-.033l6.272-8.048a.366.366 0 0 0-.064-.512zm-4.1 0l-.478-.372a.365.365 0 0 0-.51.063L4.566 9.879a.32.32 0 0 1-.484.033L1.891 7.769a.366.366 0 0 0-.515.006l-.423.433a.364.364 0 0 0 .006.514l3.258 3.185c.143.14.361.125.484-.033l6.272-8.048a.365.365 0 0 0-.063-.51z"></path></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>