<div class="contato" (click)="abrirDetalhes()" *ngIf="ultimaConversa">
  <div class="img-wrapper">
    <div class="crop">
      <img [src]="ultimaConversa?.fotoUrl" *ngIf="ultimaConversa?.fotoUrl">
      <i class="material-icons circle" *ngIf="!ultimaConversa?.fotoUrl"></i>
    </div>
  </div>

  <div class="titulo">
    <div class="nome-wrapper">
      <div class="nome"><span>{{ ultimaConversa?.nome }}</span></div>
    </div>
    
    <div class="ultima-mensagem-wrapper">
      <div class="ultima-mensagem">
        <div class="ultima-mensagem-texto">
          <span *ngIf="!ultimaConversa?.estaDigitando">{{ ultimaConversa?.ultimoStatus }}</span>
          <span *ngIf="ultimaConversa?.estaDigitando">Está digitando...</span>
        </div>
      </div>
    </div>
  </div>
</div>