<div *ngIf="existeConversas()">
  <div class="titulo-contexo">
    <div>Conversas</div>
  </div>

  <div>
    <div class="contato"       
      *ngFor="let item of resultado?.lista" 
      (click)="selecionarConversa(item)">

      <div class="img-wrapper">
        <div class="crop">
          <img [src]="item.fotoUrl" *ngIf="item.fotoUrl">
          <i class="material-icons circle" *ngIf="!item.fotoUrl"></i>
        </div>
      </div>

      <div class="titulo">
        <div class="nome-wrapper">
          <div class="nome"><span>{{ item.nome }}</span></div>
          <span class="data">{{ item.dataEnvio | date: 'HH:mm' }}</span>
        </div>
        
        <div class="ultima-mensagem-wrapper">
          <div class="ultima-mensagem">
            <div class="mensagem-checked"
              [class.lida]="item.statusUltimaMensagem === 3"
              *ngIf="item.contatoRemetenteId === contatoLogado.contatoId">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" width="18" height="18"><path fill="currentColor" d="M17.394 5.035l-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-.427-.388a.381.381 0 0 0-.578.038l-.451.576a.497.497 0 0 0 .043.645l1.575 1.51a.38.38 0 0 0 .577-.039l7.483-9.602a.436.436 0 0 0-.076-.609zm-4.892 0l-.57-.444a.434.434 0 0 0-.609.076l-6.39 8.198a.38.38 0 0 1-.577.039l-2.614-2.556a.435.435 0 0 0-.614.007l-.505.516a.435.435 0 0 0 .007.614l3.887 3.8a.38.38 0 0 0 .577-.039l7.483-9.602a.435.435 0 0 0-.075-.609z"></path></svg>
            </div>

            <div class="ultima-mensagem-texto">
                <span *ngIf="!item.estaDigitando">{{ item.ultimaMensagem }}</span>
                <span *ngIf="item.estaDigitando">Está digitando...</span>
              </div>
          </div>

          <div class="mensagens-novas" *ngIf="item.mostrarMensagensNovas">
            <span>{{ item.qtdMensagensNovas }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>