<div class="opcoes-wrapper" >
   <div class="opcoes-img-wrapper">
      <div class="opcoes-crop" (click)="abrirPerfil()">
        <img [src]="contatoLogado?.fotoUrl" *ngIf="contatoLogado?.fotoUrl">
        <img src="./../../../assets/images/foto-perfil-default.svg" *ngIf="!contatoLogado?.fotoUrl">
      </div>
  </div>

  <div class="opcoes-icons">
    <a><i class="material-icons">chat</i></a>
    <a (click)="abrirMaisOpcoes()"><i class="material-icons">more_vert</i></a>
  </div>

  <div class="mais-opcoes" [class.aberto]="mostrarMaisOpcoes">
    <div class="opcao">Novo contato</div>
    <div class="opcao">Novo grupo - Em breve</div>
    <div class="opcao" (click)="abrirPerfil()">Perfil</div>
    <div class="opcao" (click)="sair()">Sair</div>
  </div>
</div>
