<div class="row height-100">
  <div class="col s12 height-100">
    <div class="card conversa" *ngIf="!existeConversas()"></div>
    <div class="card conversa" *ngIf="existeConversas()">
      <div class="card-action top">
        <ul class="collection">
          <li class="collection-item avatar">
            <img *ngIf="conversa.fotoUrl" [src]="conversa.fotoUrl" alt="" class="circle">
            <i *ngIf="!conversa.fotoUrl" class="material-icons circle"></i>
            <span class="title">{{ conversa.nome }}</span>
            <p>On-line</p>
          </li>
        </ul>
      </div>
      <div class="card-content clearfix">
        <div class="mensagem clearfix" *ngFor="let item of resultado?.lista">
          <p [class]="definirClasse(item)">{{ item.mensagemEnviada }}</p>
        </div>
      <div class="card-action bottom">
        <div class="mensagem-enviar-wrapper">
          <div id="mensagem-enviar" contenteditable="true"></div>

          <a class="enviar">
            <i class="material-icons">send</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>