<div class="row height-100">
  <div class="col s12 height-100">
    <div class="card conversas">
      <div class="card-action top">
        <ul class="collection">
          <li class="collection-item avatar">
            <img src="https://materializecss.com/images/yuna.jpg" alt="" class="circle">
            <span class="title">Title</span>
            <p>First Line</p>
          </li>
        </ul>
      </div>
      <div class="card-content clearfix">
        <p class="enviado">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
        <p class="recebido">I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action bottom">
        <div class="mensagem-wrapper">
          <div id="mensagem" contenteditable="true"></div>

          <a class="enviar">
            <i class="material-icons">send</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>