
<div class="nova-conversa-wrapper">
  <div class="nova-conversa">
    <div class="nova-conversa-header">
      <div class="nova-conversa-header-icone-voltar">
        <div (click)="fecharContatos()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M12 4l1.4 1.4L7.8 11H20v2H7.8l5.6 5.6L12 20l-8-8 8-8z"></path></svg>
        </div>
      </div>
      <div class="nova-conversa-header-texto">Nova conversa</div>
    </div>

    <div class="pesquisa-wrapper" [class.pesquisando]="pesquisando">
      <div class="pesquisa-input-wrapper">
        <div class="pesquisa-label">Pesquisar contatos</div>
        <div #pesquisa 
          contenteditable="true" 
          class="pesquisa-contenteditable"
          (input)="pesquisar()">
        </div>
        <div class="pesquisa-close" (click)="limparPesquisa()"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="currentColor" d="M17.25 7.8L16.2 6.75l-4.2 4.2-4.2-4.2L6.75 7.8l4.2 4.2-4.2 4.2 1.05 1.05 4.2-4.2 4.2 4.2 1.05-1.05-4.2-4.2 4.2-4.2z"></path></svg></div>
      </div>
    </div>

    <div class="nova-conversa-content">

      <div *ngFor="let item of contatos" >
        <div class="titulo-contexo" *ngIf="item.primeiraLetra">
          <div>{{item.primeiraLetra}}</div>
        </div>

        <div class="contato" (click)="selecionarContato(item)">
          <div class="img-wrapper">
            <div class="crop">
              <img [src]="item.fotoUrl" *ngIf="item.fotoUrl">
              <img src="./../../../../assets/images/foto-perfil-default.svg" *ngIf="!item.fotoUrl">
            </div>
          </div>

          <div class="titulo">
            <div class="nome-wrapper">
              <div class="nome"><span>{{ item.nomeAmigo }}</span></div>
            </div>
          </div>
        </div>
      </div>

      <div class="nenhum-resultado" *ngIf="!encontrouAlgumContato">
        Nenhum resultado encontrado para “{{ nomeContatoPesquisado }}”
      </div>
    </div>
  </div>
</div>