<div class="enviar-mensagem-wrapper" *ngIf="ultimaConversa">
  <div class="enviar-mensagem-input-wrapper">
    <div class="enviar-mensagem-label" *ngIf="mostrarLabel">Digite uma mensagem</div>
    <div #mensagemEnviar
      contenteditable="true" 
      class="enviar-mensagem-contenteditable"
      (input)="avisarContatoDigitando()"
      (keypress)="onEnviarMensagem($event)"></div>
  </div>

  <div class="enviar-mensagem-botao-wrapper">
    <a class="enviar-mensagem-botao" (click)="enviarMensagem()">
      <i class="material-icons">send</i>
    </a>
  </div>
</div>