<div class="form-wrapper">
  <form class="form" [formGroup]="form" novalidate>
    <div class="erros-wrapper" *ngIf="existeErros()">
      <div class="erros">
        <span *ngFor="let e of erro?.erros">{{ e }}</span>
      </div>
    </div>

    <div class="input-wrapper">
      <label for="email">E-mail</label>
      <input id="email" type="email" formControlName="email">
    </div>

    <div class="input-wrapper">
      <label for="senha">Senha</label>
      <input id="senha" type="password" maxlength="10" formControlName="senha">
    </div>
    
    <div class="btn-wrapper">
      <a class="btn azul" (click)="entrar()">Entrar</a>
    </div>

    <div class="btn-wrapper">
      <a class="btn vermelho" routerLink="/criar-conta">Criar Conta</a>
    </div>
  </form>
</div>