@import './assets/scss/reset.scss';
@import './assets/scss/loader.scss';
@import './assets/scss/toast.scss';

::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.16);
}

html,
body {
  height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-weight: normal;
}

.theme-black {
  background-image: url(assets/images/default-bg-dark.jpg);

  .conversas {
    background-color: #101d24;
    .contato {
      background-color: #101d24;
    }
  }

  .conversa {
    background-color: #0b1419;
    .contato {
      background-color: #222e35;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

      &:hover {
        background-color: #222e35;
      }
    }
  }

  .contato {
    color: #f1f1f2de;

    &:hover {
      background-color: #17232a;
    }

    &.active {
      background-color: #1b2c35;
    }

    &.nova {
      .titulo .nome-wrapper .data {
        color: #00af9c;
      }
    }

    .img-wrapper {
      img,
      i {
        background-color: #f1f1f273;
      }
    }

    .titulo {
      border-top: 1px solid #1b282e;
    }
    
    .nome-wrapper {
      .nome {
        color: #d4d5d7;
      }
      .data {
        color: #f1f1f273;
      }
    }

    .ultima-mensagem {
      .ultima-mensagem-texto {
        color: #f1f1f273;
      }
    }

    .mensagens-novas span {
      color: #101d24;
      background-color: #00af9c;
    }
  }

  .conversa {
    .mensagem-wrapper {
        &.enviado {
          .mensagem {
            background-color: #054740;
          } 
        }
      }
  
      .mensagem {
        color: #f1f1f2de;
        background-color: #222e35;
      }
  
      .mensagem-data-wrapper {
        color: #f1f1f299;
      }
  
    .aviso {
      background-color: #1e2a30;
      color: #f1f1f2de;
    }
    
    .enviar-mensagem-wrapper {
      background-color: #1c282f;

      .enviar-mensagem-input-wrapper {
        background-color: #101d24;
        border: 1px solid #101d24;
    
        .enviar-mensagem-contenteditable {
          color: #a5aaad;
        }
      }
    }
    
    .enviar-mensagem-botao-wrapper {
      color: #80868b;
    }
    
  }
  .mensagem-checked {
    color: #f1f1f299;
    &.lida {
        color: #34b7f1;
    }
  }
}

.form-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: #0b1419;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 14px;
  padding: 30px;
  width: 380px;

  color: #f1f1f2de;
  background-color: #222e35;

  .erros-wrapper {
    margin-bottom: 25px;

    .erros {
      display: flex;
      flex-direction: column;
      color: #ef697a;

      span {
        display: block;
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 5px;

      color: #009688;
    }

    input {
      padding: 10px 2px;
      outline: none;
      border: none !important;
      font-size: 15px;
      border-radius: 3px;

      background-color: #fff !important;
    }
  }

  .btn-wrapper {
    margin-top: 7px;
  }

  .btn {
    color: #fff;
    width: 100%;
    display: block;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: all .2s;
    text-decoration: none;

    &.azul {
      background-color: #009688;
      &:hover {
        background-color: #02867a;
      }
    } 

    &.vermelho {
      background-color: #fc2e48;
      &:hover {
        background-color: #cf253b;
      }
    } 
  }
}

.home-wrapper {
  display: flex;
  align-items: stretch;
  height: calc(100% - 38px);
  width: 1396px;
  margin: 0 auto;
  position: relative;
  top: 19px;

  &.detalhes-aberto {
    .center-wrapper {
      flex: 40%;
    }
    .detalhes-wrapper {
      flex: 30%;

      .detalhes {
        opacity: 1;
        transition: opacity .4s;
        transition-delay: .4s;
      }
    }
  }

  &.perfil-aberto {
    .perfil-wrapper {
      width: 100%;
    }
    .perfil-contato-wrapper {
      opacity: 1;
      transition: opacity .2s;
      transition-delay: .2s;
    }
  }

  &.nova-conversa-aberto {
    .nova-conversa-wrapper {
      width: 100%;
    }
    .nova-conversa-content {
      opacity: 1;
      transition: opacity .2s;
      transition-delay: .2s;
    }
  }
}

.side-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  flex: 30%;   

  background-color: #101d24;
}

.center-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  flex: 70%;
  transition: flex .4s;

  border-left: 1px solid #1b282e;
}

.detalhes-wrapper {
  overflow: hidden;
  position: relative;
  z-index: 2;
  flex: 0%;
  transition: flex .4s;

  border-left: 1px solid #1b282e;
  background-color: #0b1419;

  .detalhes {
    opacity: 0;
    transition: opacity .2s;
  }
}

.opcoes-wrapper {
  height: 59px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  padding: 10px 16px;

  background-color: #101d24;

  .opcoes-crop {
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  } 

  .opcoes-img-wrapper {
    flex-grow: 1;

    img,
    i {
      width: 40px;
      height: 40px;

      background-color: green;
    }
  }

  .opcoes-icons {
    color: #b1b3b5;

    a {
      padding: 8px;
      margin-left: 10px;
      display: inline-block;
      cursor: pointer;
    }
  }
}

.mais-opcoes {
  position: absolute;
  top: 92%;
  right: 15px;
  min-width: 150px;
  z-index: 6;
  padding: 15px 0;
  background-color: #152630;
  box-shadow: 0 2px 5px 0 rgba(var(--shadow-rgb),.26),0 2px 10px 0 rgba(var(--shadow-rgb),.16);
  color: #d4d5d7;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;

  &.aberto {
    visibility: visible;
    opacity: 1;
  }

  .opcao {
    padding: 13px 25px;
    background-color: #152630;
    font-size: 14px;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background-color: #1d2f3a;
    }
  }
}

.main-container {
  height: 100%;
}

.contato {
  cursor: pointer;
  height: 72px;
  display: flex;
  flex-direction: row;

  &.nova {
    .ultima-mensagem-texto {
      font-weight: 600;
    }
  }

  .img-wrapper {
    flex: none;
    display: flex;
    align-items: center;
    padding: 0 15px 0 13px;
  
    img,
    i {
      width: 49px;
      height: 49px;
    }
  }

  .crop {
    overflow: hidden;
    width: 49px;
    height: 49px;
    border-radius: 50%;
  }  

  .titulo {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    padding-right: 15px;
  }

  .nome-wrapper {
    align-items: center;
    display: flex;
    overflow: hidden;

    .nome {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .data {
      font-size: 12px;
      margin-top: 3px;
      margin-left: 6px;
    }
  }

  .ultima-mensagem-wrapper {
    align-items: center;
    display: flex;
    overflow: hidden;
    margin-top: 2px;

    .ultima-mensagem {
      display: flex;
      flex-grow: 1;
      overflow: hidden;

      .ultima-mensagem-texto {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        font-size: 14px;
        line-height: 20px;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .mensagens-novas span {
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      line-height: 13px;
      height: 20px;
      min-width: 20px;
      vertical-align: top;
      border-radius: 1.1em;
      padding: .3em .4em .4em;
      text-align: center;
    }
  }
}

.conversas {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.conversa {
  display: flex;
  flex-direction: column;
  height: 100%;  

  .contato {
    position: relative;
    z-index: 2;
    height: 59px;

    .img-wrapper img, 
    .img-wrapper i,
    .crop {
      width: 40px;
      height: 40px;
    }

    .nome-wrapper .nome {
      font-size: 16px;
    }

    .ultima-mensagem-wrapper .ultima-mensagem .ultima-mensagem-texto {
      font-size: 13px;
    }
  }

  .app-lista-mensagens {
    flex: 1 1 0;
    order: 2;
    position: relative;
  }

  .app-enviar-mensagem {
    min-height: 62px;
    order: 3;
    flex: none;
    width: 100%;
  }

  .mensagens-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0;

    .msg-vazio {
      flex: 1 1 auto;
      min-height: 12px;
    }
  }

  .mensagem-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 9%;
    padding-right: 9%;
    margin-bottom: 2px;

    &.enviado {
      align-items: flex-end;
    }

    &.recebido {
      align-items: flex-start;
    }

    .mensagem {
      border-radius: 7.5px;
      font-size: 14.2px;
      line-height: 19px;
      position: relative;
      max-width: 65%;
      padding: 6px 7px 8px 9px;
      display: flex;
      align-items: flex-end;
    }

    .mensagem-texto-wrapper {
      padding-right: 40px;
      overflow: hidden;
    }

    .mensagem-texto {
      white-space: pre-wrap;
      word-wrap: break-word;
      overflow: hidden;
    }

    .mensagem-data-wrapper {
      font-size: 11px;
      height: 15px;
      line-height: 15px;
      white-space: nowrap;
      margin-bottom: -5px;

      .mensagem-checked,
      span {
        display: inline-block;
      }

      span {
        vertical-align: top;
      }

      .mensagem-checked {
        margin-left: 3px;
      }
    }
  }
  
  .aviso-wrapper {
    display: flex;
    flex-direction: row;
  }

  .aviso {
    font-size: 12.5px;
    line-height: 21px;
    border-radius: 7.5px;
    padding: 5px 12px 6px;
    margin: 7px auto 10px;
  }

  .loader {
    margin: 10px auto 15px;
  }

  .enviar-mensagem-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    max-width: 100%;
    min-height: 62px;
    padding: 5px 10px;
    position: relative;

    .enviar-mensagem-input-wrapper {
      box-sizing: border-box;
      flex: 1 1 auto;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      min-height: 20px;
      min-width: 0;
      outline: none;
      width: inherit;
      will-change: width;
      border-radius: 21px;
      padding: 9px 12px 11px;
      margin: 5px 10px;
  
      .enviar-mensagem-contenteditable {
        font-size: 15px;
        font-weight: 400;
        max-height: 100px;
        min-height: 20px;
        outline: none;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        white-space: pre-wrap;
        word-wrap: break-word;
      }

      .enviar-mensagem-label {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 100;
        top: 19px;
        left: 33px;

        color: #6c7175;
      }
    }
  }

  .enviar-mensagem-botao-wrapper {
    padding: 5px 10px;
    min-height: 52px;
    display: flex;
    align-items: center;

    .enviar-mensagem-botao {
      cursor: pointer;
    }
  }
}

.pesquisa {
  background-color: #222e35;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

  .resultados {
    position: absolute;
    left: 0;
    top: 105px;
    width: 100%;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    height: calc(100% - 105px);

    background-color: #101d24;
  }
}

.pesquisa-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  max-width: 100%;
  padding: 0px 10px;

  &.pesquisando {
    .pesquisa-input-wrapper {
      .pesquisa-label {
        opacity: 0;
      }
      .pesquisa-close {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  .pesquisa-input-wrapper {
    box-sizing: border-box;
    flex: 1 1 auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    min-height: 20px;
    outline: none;
    width: inherit;
    will-change: width;
    border-radius: 21px;
    padding: 7px 25px 7px 12px;
    margin: 6px 10px;
    position: relative;

    background-color: #101d24;
    color: #a5aaad;

    .pesquisa-contenteditable {
      font-size: 15px;
      font-weight: 400;
      height: 20px;
      outline: none;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .pesquisa-label {
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      z-index: 2;
      top: 6px;
      left: 13px;
      opacity: 1;
      transition: opacity .14s linear;

      color: #6c7175;
    }

    .pesquisa-close {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 5px;
      right: 2px;
      cursor: pointer;
      opacity: 0;
      transition: opacity .14s linear;
      pointer-events: none;
    }
  }
}

.nenhum-resultado {
  font-size: 14px;
  line-height: 20px;
  padding: 46px 20px;
  text-align: center;

  color: #f1f1f273;
}

.titulo-contexo {
  padding: 30px 0 15px 32px;

  div {
    height: 30px;
    font-size: 16px;
    text-transform: uppercase;

    color: #009688;
  }
}

.perfil-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  z-index: 3;
  background-color: #101d24;
  overflow: hidden;
  transition: width .1s;
}

.perfil {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .perfil-header {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 25px;
    font-size: 19px;

    color: #f1f1f2de;
    background-color: #222e35;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    .perfil-header-icone-voltar {
      cursor: pointer;
    }

    .perfil-header-texto {
      font-size: 19px;
      height: 22px;
      margin-left: 30px;
      font-weight: 600;
    }
  }

  .perfil-contato-wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    padding-bottom: 20px;
    opacity: 0;
    transition: opacity .2s;
  }

  .perfil-contato {
    padding: 28px 30px 19px;

    .perfil-contato-imagem {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .crop {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }  

      img, 
      i {
        width: 200px;
        height: 200px;
        cursor: pointer;

        background-color: #f1f1f273;
      }
    }
  }

  .perfil-dados {
    margin-bottom: 10px;

    color: #d4d5d7;

    .perfil-dados-titulo {
      padding: 14px 30px 4px;

      span {
        font-size: 15px;
        line-height: normal;

        color: #009688;
      }
    }

    .perfil-dados-campo-wrapper {
      padding: 0 30px;
      height: 60px;
      align-items: center;
      display: flex;

      div {
        font-size: 18px;
        line-height: 21px;
      }
    }

    .perfil-dados-campo-borda {
      align-items: center;
      display: flex;
      flex-grow: 1;
      padding-bottom: 5px;

      &.editando {
        border-bottom: 2px solid #00af9c;
      }
    }

    .perfil-dados-campo {
      flex-grow: 1;

      div {
        outline: none;
      }
    }

    .perfil-dados-icone {
      color: #828689;

      div {
        display: inline-block;
        cursor: pointer;        
      }
    }
  }
}

.nova-conversa-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0%;
  height: 100%;
  z-index: 3;
  background-color: #101d24;
  overflow: hidden;
  transition: width .1s;
}

.nova-conversa {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .nova-conversa-header {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 25px;
    font-size: 19px;

    color: #f1f1f2de;
    background-color: #222e35;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    .nova-conversa-header-icone-voltar {
      cursor: pointer;
    }

    .nova-conversa-header-texto {
      font-size: 19px;
      height: 22px;
      margin-left: 30px;
      font-weight: 600;
    }
  }

  .nova-conversa-content {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    padding-bottom: 20px;
    opacity: 0;
    transition: opacity .2s;
    border-top: 1px solid #1b282e;
  }

  .pesquisa-input-wrapper {
    background-color: #222e35;
  }

  .contato:first-child .titulo {
    border-top: none;
  }
}


.detalhes {
  display: flex;
  flex-direction: column;
  height: 100%;

  .detalhes-header {
    height: 59px;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;

    color: #f1f1f2de;
    background-color: #222e35;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);

    .detalhes-header-icone-fechar {
      width: 54px;

      color: #828689;

      div {
        display: inline-block;
        cursor: pointer;
      }
    }

    .detalhes-header-texto {
      font-size: 16px;
      height: 20px;
    }
  }

  .detalhes-content {
    overflow-x: hidden;
    overflow-y: scroll;
    flex-grow: 1;
    padding-bottom: 20px;
  }

  .detalhes-contato {
    padding: 28px 30px 19px;
    margin-bottom: 10px;

    background-color: #17232a;

    .detalhes-contato-imagem {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      .crop {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }  

      img, 
      i {
        width: 200px;
        height: 200px;
        cursor: pointer;

        background-color: #f1f1f273;
      }
    }
  }

  .detalhes-contato-nome {
    font-size: 19px;
    line-height: 28px;
    overflow: hidden;

    color: #d4d5d7;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .detalhes-contato-status {
    font-size: 14px;
    line-height: 20px;
    margin-top: 3px;
    overflow: hidden;

    color: #f1f1f273;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .detalhes-recado {
    margin-bottom: 10px;

    color: #d4d5d7;
    background-color: #17232a;

    .detalhes-recado-email-titulo {
      padding: 14px 30px 4px;
      margin-bottom: 30px;

      span {
        font-size: 14px;
        line-height: normal;

        color: #009688;
      }
    }

    .detalhes-recado-email {
      padding-left: 30px;
      height: 60px;
      align-items: center;
      display: flex;

      border-top: 1px solid #293136;

      span {
        font-size: 17px;
        line-height: 21px;
      }
    }
  }

  .detalhes-opcao {
    height: 59px;
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    cursor: pointer;
    
    background-color: #17232a;

    &:hover {
      background-color: #222e35;
    }

    .detalhes-opcao-icone {
      width: 54px;

      color: #ef697a;

      div {
        display: inline-block;
        cursor: pointer;
      }
    }

    .detalhes-opcao-texto {
      color: #ef697a;
      font-size: 16px;
      height: 20px;
    }
  }
}
