
<div class="home-wrapper" 
    [class.detalhes-aberto]="mostrarDetalhes" 
    [class.perfil-aberto]="mostrarPerfil"
    [class.nova-conversa-aberto]="mostrarNovaConversa">
  <div class="side-wrapper">
    <app-opcoes></app-opcoes>
    
    <app-pesquisa></app-pesquisa>
    
    <app-conversas></app-conversas>

    <app-perfil></app-perfil>

    <app-contatos></app-contatos>
  </div>
  
  <div class="center-wrapper">
    <app-mensagens></app-mensagens>
  </div>

  <div class="detalhes-wrapper">
    <app-detalhes></app-detalhes>    
  </div>
</div>
