
<div class="home-wrapper" 
    [class.detalhes-aberto]="mostrarDetalhes" 
    [class.perfil-aberto]="mostrarPerfil">
  <div class="side-wrapper">
    <app-opcoes (mostrarSessaoPerfil)="mostrarSessaoPerfil($event)"></app-opcoes>
    
    <app-pesquisa></app-pesquisa>
    
    <app-conversas></app-conversas>

    <app-perfil (mostrarSessaoPerfil)="mostrarSessaoPerfil($event)"></app-perfil>
  </div>
  
  <div class="center-wrapper">
    <app-mensagens></app-mensagens>
  </div>

  <div class="detalhes-wrapper">
    <app-detalhes></app-detalhes>    
  </div>
</div>
